= f.input :prepared_for, :hint => "name of client"
= f.input :brand, label: 'Brand/Division'
= f.input :presented_to, :input_html => {:rows => 3 }, :hint => "contact info"
= f.input :prepared_by, :input_html => {:rows => 3 }, :hint => "contact info"
= f.input :quote_date, input_html: { class: 'datepicker' }, as: :string
= f.input :accept_by, input_html: { class: 'datepicker' }, as: :string
= f.input :spot_length, collection: ([[':15',15], [':30',30], [':60',60]]), :hint => "seconds"
= f.input :spot_rate, :hint => "spots per hour"
= f.input :flight_date, input_html: { class: 'datepicker', id: 'start-date' }, as: :string
= f.input :end_date, input_html: { class: 'datepicker', id: 'end-date' }, as: :string
%br
%ul.nav.nav-list
  %li.divider
%br

= f.input :cpm




:javascript

  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
  });
  



