%tr
  %td= link_to "#{ratecard.id}", ratecard
  %td= ratecard.quote_date.try(:strftime, "%D")
  %td= ratecard.store_ids.count
  %td= simple_format ratecard.prepared_by
  %td= ratecard.presented_to
  %td= ratecard.spot_length
  %td= ratecard.cpm
  %td= owned_by(ratecard)
  - if can? :destroy, ratecard
    %td= link_to "delete", ratecard, method: :delete, :confirm => 'Are you sure?'