%tr
  %td= link_to "#{ratecard.id}", ratecard
  %td= ratecard.store_ids.count
  %td= ratecard.prepared_by
  %td= ratecard.presented_to
  %td= ratecard.spot_length
  %td= ratecard.cpm
  %td= owned_by(ratecard)