= wicked_pdf_stylesheet_link_tag "application"
= wicked_pdf_javascript_include_tag "application"

.content
  = render 'layouts/contract_header'
  
  = render 'ratecards/ratecard_tables'
  
  .always-break
    
  = render 'ratecards/school_list'
  
  .always-break
    
  = render 'ratecards/contract_signatures'
      
  = render 'ratecards/contract_terms'
