= render 'layouts/quote_header'
.navbar 
  %ul.nav
    %li= link_to 'Download PDF of Quote', ratecard_path(@ratecard, :format => :pdf)
    %li.pull-right= link_to 'Edit Quote', edit_ratecard_path(@ratecard)
.clearfix
%p
%table.table.half-width
  %tr
    %th Prepared For:
    %td= @ratecard.prepared_for
  %tr
    %th Brand/Division:
    %td= @ratecard.brand
  %tr
    %th Presented To:
    %td= simple_format @ratecard.presented_to
  %tr  
    %th Prepared By:
    %td= simple_format @ratecard.prepared_by

    
%table.table.half-width 
  %tr
    %th Quote Date:
    %td= @ratecard.quote_date.strftime("%D")
  %tr
    %th Accept By (Expires):
    %td= @ratecard.accept_by.strftime("%D")
  %tr
    %th Spot Length:
    %td= "#{@ratecard.spot_length} seconds"
  %tr 
    %th Flight Date:
    %td= @ratecard.flight_date.strftime("%D")
  %tr 
    %th End Date:
    %td= @ratecard.end_date.strftime("%D")
  %tr
    %th Air Time:
    %td= num_of_weeks_in_words(@ratecard)
  %tr
    %th Creative Due Date:
    %td= @ratecard.creative_due_date.strftime("%D")
    
    
%table.table.table-bordered.table-hover
  %tr
    %th Spots per Hour
    %td= @ratecard.spot_rate
  %tr
    %th Estimated Spots
    %td= number_with_delimiter(@ratecard.total_spots.to_i)
  %tr
    %th Cost per Spot
    %td= number_to_currency(@ratecard.cost_per_spot)
  %tr
    %th Number of Schools
    %td= @ratecard.store_ids.count
  %tr
    %th Avg Cost Per Campus
    %td= number_to_currency(@ratecard.cost_per_school) 
  %tr
    %th Estimated Impressions
    %td= number_with_delimiter(@ratecard.total_impressions.to_i)
  %tr
    %th CPM
    %td= number_to_currency(@ratecard.cpm)
  %tr.success
    %th= "#{num_of_weeks_in_words(@ratecard)} Total Cost"
    %td= number_to_currency(@ratecard.total_cost)
 

    
    
%table.table.table-bordered.table-hover
  %tr.info
    %th Campus No.
    %th Campus Name
    %th Type
    %th Address
    %th City
    %th State
    %th DMA
    %th DMA Rank
    %th No. of Screens
    %th Current Enrollment
    %th Impressions
    %th Cost Per Campus
  = render partial: 'school_for_quote', locals: {schools: @ratecard.schools}

    

