= wicked_pdf_stylesheet_link_tag "application"
= wicked_pdf_javascript_include_tag "application"
  
= render 'layouts/quote_header'

= render partial: 'ratecard_tables'

.page-break


= render 'school_list'

