= render 'layouts/quote_header.html'
.navbar 
  %ul.nav
    %li= link_to 'Download PDF of Quote', ratecard_path(@ratecard, :format => :pdf), id: "pdfLink"
    %li= link_to 'Download PDF of Contract', ratecard_path(@ratecard, :format => :pdf, contract: true) if current_user.internal?
    %li.pull-right= link_to 'Edit Quote', edit_ratecard_path(@ratecard) if can? :update, @ratecard
.clearfix
%p

= render partial: 'ratecard_tables'
    
%table#schools.table.table-bordered.table-hover.table-condensed.school-table
  %thead.highlight
    %tr.highlight
      %th Campus No.
      %th Campus Name
      %th Campus Type
      %th Address
      %th City
      %th ST
      %th DMA
      %th DMA Rank
      %th No. of TVs
      %th Students Enrolled
      %th Impressions
      %th Cost Per Campus
      - if @ratecard.store_ids[0]['nearbyName'].present?
        %th Nearby Locations
  %tbody
    = render partial: 'school_for_quote'

    

  

