= render 'layouts/quote_header.html'
.navbar 
  %ul.nav
    %li= link_to 'Download PDF of Quote', ratecard_path(@ratecard, :format => :pdf)
    %li= link_to 'Download PDF of Contract', ratecard_path(@ratecard, :format => :pdf, contract: true) if current_user.internal?
    %li.pull-right= link_to 'Edit Quote', edit_ratecard_path(@ratecard) if can? :update, @ratecard
.clearfix
%p

= render partial: 'ratecard_tables'
    
%table.table.table-bordered.table-hover.table-condensed.school-table
  %tr.highlight
    %th= sortable "store_id", "Campus No."
    %th= sortable "school_name", "Campus Name"
    %th= sortable "school_type" "Campus Type"
    %th= sortable "address"
    %th= sortable "city"
    %th= sortable "state",  "ST"
    %th= sortable "dma", "DMA"
    %th= sortable "dma_rank"
    %th= sortable "num_of_screens",  "No. of TVs"
    %th Students Enrolled
    %th Impressions
    %th Cost Per Campus
  = render partial: 'school_for_quote'

    

  

