%h1= "Import #{@import.id}"

%h2 Files Included
%ul
  - @import.files.each do |file|
    %h3= file.name.to_s.titleize
    You uploaded a file named: 
    .well
      = @import.send(file.name.to_s + "_file_name")
    - case instance_variable_get('@'+file.name.to_s + "_import_status")
    - when nil
      = render 'preview', file: file
    - when false
      =link_to "Importing... reload to see updates", @import
    - when true
      = render 'review'
      