= simple_form_for(@ambassador) do |f|
  = f.error_notification

  .form-actions
    = f.button :submit

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.association :schools, as: :check_boxes

  .form-actions
    = f.button :submit