%li#school-list-item
  = check_box_tag "schools[#{school.name.parameterize.underscore.to_sym}]",  school.store_id
  = label_tag "schools[#{school.name.parameterize.underscore.to_sym}]", school.name.titleize
  = link_to 'Edit', [:edit, school]
%li.divider