%li.school-list-item
  = check_box_tag "throw[#{school.name.parameterize.underscore.to_sym}]", school.store_id, false, id: school.name.titleize
  <label for= 
  = "#{school.name.titleize}"
  > 
  = "#{school.name.titleize}"
  </label>
  = link_to 'Edit', [:edit, school]
%li.divider