.accordian-group
  .accordian-heading
    %h3= link_to 'Ambassador', '#amb', { data: {toggle: "collapse", parent: "#forms"}}
  #amb.accordian-body.collapse

    %ul.nav.nav-pills
      %li.active
        %a#current_amb{:href=>"#current", :data => {:toggle=> "tab"}}
          Current Ambassadors
      %li
        %a#existing_amb{:href=>"#existing", :data => {:toggle=> "tab"}}
          Add from Existing Ambassadors
      %li
        %a#new_amb{:href=>"#new", :data => {:toggle=> "modal", :target => "#modal"}}
          Create new Ambassador
      
    
    .tab-content
      .tab-pane.active#current
        = f.association :ambassadors, collection: @my_ambassadors, as: :check_boxes 
        
      .tab-pane#existing
        = f.association :ambassadors, collection: @not_my_ambassadors, as: :check_boxes
      



#modal.modal.hide.fade
  .modal-header
    %button{type: "button", class:"close", data:{dismiss: "modal"} }
      &times
    %h3 Create New Ambassador
  .modal-body
    = render 'ambassadors/form'
  .modal-footer
    = link_to 'Close', {class: 'btn'}, data:{dismiss: "modal"}
    = f.submit 'Create Ambassador'

:javascript

  $('#new_amb').click(function() {
    $('#existing.school_ambassadors input').attr('checked', false);
  });

  $('#existing_amb').click(function() {
    $('#new input').val("");
  });

  $('#new_amb').click(function() {
    $("#ambassador_school_ids_#{@school.id}").attr('checked',true);
  });

  
