.accordian-group
  .accordian-heading
    %h3= link_to 'School Store Information', '#info', { data: {toggle: "collapse", parent: "#forms"}}
  #info.accordian-body.collapse
    = f.input :school_name
    = f.input :store_id, label: "Store ID #"
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :num_of_screens
    = f.input :school_type, collection: (['4 year','CC'])
    = f.input :dma
    = f.input :dma_rank
    = f.input :starbucks
    = f.input :coffee_stations
    = f.input :rotc
    
