#map-and-list
  = gmaps4rails(@json)
  #school-list-holder
    = simple_form_for Ratecard.new, url: {controller: 'ratecards', action: 'create'}, html: {class: 'form-horizontal' } do |f|
      %ul.school-list
        = render @schools
      = link_to 'Create Quote', '#',{role: "button", class: "btn", data:{toggle: "modal", target:"#modal"}}
      = render 'modal', f:f

#clear
.accordian#filters
  .accordian-group
    .accordian-heading
    %h3= link_to 'Filter by State', '#states', { data: {toggle: "collapse", parent: "#filters"}}
    #states.accordian-body.collapse
      = render 'filters/states_list'

  .accordian-group
    .accordian-heading
    %h3= link_to 'Filter by Sports', '#sports', { data: {toggle: "collapse", parent: "#filters"}}
    #sports.accordian-body.collapse
      = render 'filters/sports_list'

  .accordian-group
    .accordian-heading
    %h3= link_to 'Filter by Demographics', '#demographics', { data: {toggle: "collapse", parent: "#filters"}}
    #demographics.accordian-body.collapse
      = render 'filters/demographics'




