= gmaps4rails(@json)

#school-list-holder
  = form_tag url: {controller: 'ratecards', action: 'create'} do
    %ul.school-list
      = render @schools
  
  
#clear

%h3 Filter by State
= render 'filters/states_list'

%h3 Filter by Sports
= render 'filters/sports_list'


%h3 Filter by Demographics
= render 'filters/demographics'


