.container
  .row
    .span6
      #map-and-list
        = gmaps4rails(@json)
        #school-list-holder
          = simple_form_for Ratecard.new, url: {controller: 'ratecards', action: 'create'}, html: {class: 'form-horizontal' } do |f|
            = link_to 'Create Quote', '#',{role: "button", class: "quote-button btn disabled", data:{toggle: "modal", target:"#modal"}}
            = render 'modal', f:f
            %ul.school-list.nav-list
              = render @schools
            
    
    .span6
      .accordian#filters
        .accordian-group
          .accordian-heading
          %h3= link_to 'Filter by State', '#states', { data: {toggle: "collapse", parent: "#filters"}}
          .state-filter-list
          #states.accordian-body.collapse
            = render 'filters/states_list'
      
        .accordian-group
          .accordian-heading
          %h3= link_to 'Filter by Sports', '#sports', { data: {toggle: "collapse", parent: "#filters"}}
          .sport-filter-list
          #sports.accordian-body.collapse
            = render 'filters/sports_list'
      
        .accordian-group
          .accordian-heading
          %h3= link_to 'Filter by Demographics', '#demographics', { data: {toggle: "collapse", parent: "#filters"}}
          .demographics-filter-list
          #demographics.accordian-body.collapse
            = render 'filters/demographics'
    
    
  
  
