= simple_form_for Ratecard.new, url: {controller: 'ratecards', action: 'create'}, html: {class: 'form-horizontal', id: 'quote-form' } do |f|  
  .row
    .span2
      #school-counter
        %h4#school-count
          0 selected
        %ul.selected-list
        = link_to 'Create Quote', '#',{role: "button", class: "quote-button btn disabled", data:{toggle: "modal", target:"#modal"}}

    .span5
      #map-and-list.affix
        = gmaps4rails(@json)
        #school-list-holder
          = text_field_tag 'filter', nil, :placeholder => 'Search by Name or ID', id: 'text-filter'
          #total-schools= "#{@schools.length} schools"
          %ul.school-list.nav-list
            = render @schools
            
    .span5
      .accordian#filters
        = render 'filters/states_list'
        = render 'filters/sports_list'
        = render 'filters/demographics'
        = render 'filters/transactions'
        = render 'filters/school_info'
        = render 'filters/store_info'
    
    
  
  = render 'modal', f:f
