#map-and-list
  = gmaps4rails(@json)
  #school-list-holder
    = simple_form_for Ratecard.new, url: {controller: 'ratecards', action: 'create'}, html: {class: 'form-horizontal' } do |f|
      %ul.school-list
        = render @schools
      = link_to 'Create Quote', '#',{role: "button", class: "btn", data:{toggle: "modal", target:"#modal"}}
      = render 'modal', f:f

#clear

%h3 Filter by State
= render 'filters/states_list'

%h3 Filter by Sports
= render 'filters/sports_list'


%h3 Filter by Demographics
= render 'filters/demographics'




