= simple_form_for Ratecard.new, url: {controller: 'ratecards', action: 'create'}, html: {class: 'form-horizontal', id: 'quote-form' } do |f|  
  .row
    .span2
      #school-counter
        %h4#school-count
          0 selected
        = link_to 'Create Proposal', '#',{role: "button", class: "quote-button btn disabled bottom-margin", data:{toggle: "modal", target:"#modal"}}
        .clearfix
        %ul.selected-list
        

    .span5
      #map-and-list.affix
        = gmaps4rails(@json)
        #school-list-holder
          = text_field_tag 'filter', nil, :placeholder => 'Search by Name or ID', id: 'text-filter'
          #school-tool-bar
            #total-schools.pull-left= "#{@schools.length} schools"
            #select-all-schools.pull-right
              = check_box_tag "Select All Schools", 'all', false
              = label_tag "Select All Schools", "Select All Schools"
          .clearfix
          %ul.school-list.nav-list
            = render @schools
            
    .span5
      #buttons-with-tooltips
        .btn-group.bottom-margin
          = link_to schools_url, role: "button", class: "btn", :data => {:toggle=>"tooltip"}, :title=>"Active Campuses"  do
            %i.icon-eye-open
          = link_to schools_url(include_not_deployed: true), role: "button", class: "btn", :data => {:toggle=>"tooltip"}, :title=>"Include Campuses with No Screens"  do 
            %i.icon-eye-open 
            + (No
            %i.icon-film
            )
          = link_to schools_url(not_deployed_only: true), role: "button", class: "btn", :data => {:toggle=>"tooltip"}, :title=>"Campuses with No Screens"  do
            No
            %i.icon-film
            Only
          = link_to schools_url(inactive: true), role: "button", class: "btn", :data => {:toggle=>"tooltip"}, :title=>"Inactive Campuses"  do 
            %i.icon-eye-close
      .clearfix
      .accordian#filters
        = render 'filters/states_list'
        = render 'filters/sports_list'
        = render 'filters/demographics'
        = render 'filters/transactions'
        = render 'filters/school_info'
        = render 'filters/store_info'
    
    
  
  = render 'modal', f:f


