#all-conferences
  = check_box_tag "All Conferences", 'all', true
  = label_tag "All Conferences", "All Conferences"
  
#conference-list
  %ul
    - @schools.collect {|s| s.sports.conference }.compact.uniq.each do |conf|  
      %li
        = check_box_tag "#{conf}"
        = label_tag "#{conf}", "#{conf.titleize}"