#rotc
  %h4 ROTC 
  #all-rotc
    = check_box_tag "Either", 'all', true
    = label_tag "Either", "Either"
  %ul.well
    %li
      = radio_button_tag("ROTC", true, false)
      = label_tag "ROTC_true", "ROTC"
      = radio_button_tag("ROTC", false, false)
      = label_tag "ROTC_false", "Non ROTC"
