.accordian-group
  .accordian-heading
    %h4= link_to 'Term Length', '#term', { data: {toggle: "collapse", parent: "#school-info-list"}}
  #term.accordian-body.collapse
    #all-terms
      = check_box_tag "Any Term Length", 'all', true
      = label_tag "Any Term Length", "Any Term Length"
    %ul.well
      = radio_button_tag("term", "semester", false)
      = label_tag "term_semester", "Semester"
      = radio_button_tag("term", "quarter", false)
      = label_tag "term_quarter", "Quarter"

