.accordian-group
  .accordian-heading
    %h3= link_to 'Filter by School Information', '#school-info', { data: {toggle: "collapse", parent: "#filters"}}
  .school-info-filter-list
  #school-info.accordian-body.collapse
    .accordian#school-info-list
      = render 'filters/school_type'
      = render 'filters/rotc'
      = render 'filters/dma'
      = render 'filters/term'
      = render 'filters/schedule'

      
