<!DOCTYPE html>
<html>
<head>
  <title>Schools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li> <%= image_tag 'logo.png', height: "50", class: "logo-top"%> <li>
          <li class="dropdown"> <%= link_to 'Schools', "#",{ class:"dropdown-toggle", data: {toggle: "dropdown"} } %> 
              <ul class="dropdown-menu">
                <li><%= link_to 'See all', schools_url %></li>
                <li><%= link_to 'Create new', new_school_url %></li>
              </ul>
          </li>
          <li class="dropdown"> <%= link_to 'Quotes', "#",{ class:"dropdown-toggle", data: {toggle: "dropdown"} } %> 
              <ul class="dropdown-menu">
                <li><%= link_to 'See all', ratecards_url %></li>
                <li><%= link_to 'Create new', schools_url %></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <%= yield %>
  </div>
  <%= yield :scripts %>

</body>
</html>
